/* Start Global Rules */
:root {
  --violet-color: hsl(257, 40%, 49%);
  --soft-magenta: hsl(300, 69%, 71%);
}
* {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}
body {
  font-family: "Open Sans", sans-serif;
  background-color: var(--violet-color);
  background-image: url(../images/bg-desktop.svg);
  background-repeat: no-repeat;
  background-size: 100rem;
}
@media (max-width: 767px) {
  body {
    background-image: url(../images/bg-mobile.svg);
    background-position: top;
    background-size: 30rem;
  }
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
.container {
  padding-left: 50px;
  padding-right: 50px;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1440px;
  }
}
/* End Global Rules */

header {
  padding-top: 2rem;
}
@media (max-width: 767px) {
  header img {
    width: 10rem;
  }
}

main {
  padding-top: 7rem;
}
section.container {
  display: flex;
  justify-content: center;
  gap: 3rem;
}
@media (max-width: 767px) {
  section.container {
    flex-direction: column;
  }
}
section img {
  width: 150rem;
}
@media (max-width: 767px) {
  section img {
    width: 20rem;
  }
}
@media (max-width: 767px) {
  .text {
    text-align: center;
  }
}
h1 {
  font-family: "Poppins", sans-serif;
  color: white;
  font-size: 2.6rem;
  margin-bottom: 1.5rem;
}
@media (max-width: 767px) {
  h1 {
    font-size: 1.6rem;
  }
}
p {
  color: white;
  font-size: 1.1rem;
  margin-bottom: 3rem;
  line-height: 1.6rem;
}
@media (max-width: 767px) {
  p {
    font-size: 0.95rem;
    line-height: 1.4rem;
  }
}
a {
  font-size: 1.3rem;
  color: var(--violet-color);
  padding: 0.9rem 3.8rem;
  background-color: white;
  border-radius: 1.9rem;
  box-shadow: 0px 5px 15px rgb(0 0 0/30%);
  cursor: pointer;
  transition: 0.5s;
}
@media (max-width: 767px) {
  a {
    padding: 0.7rem 5.7rem;
    margin-bottom: 2rem;
  }
}
a:hover {
  background-color: var(--soft-magenta);
  color: white;
}

footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 40px 0px;
}
@media (max-width: 767px) {
  footer {
    justify-content: center;
  }
}
ul {
  display: flex;
}
li {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5em;
  margin-right: 1rem;
  transition: 0.5s;
  cursor: pointer;
}
li:hover i {
  color: var(--soft-magenta);
}
li:hover {
  border-color: var(--soft-magenta);
}
i {
  color: white;
  font-size: 1.5rem;
  transition: 0.5s;
}
